.grid-container {
      position: fixed;
      top: 40%;
      left: 50%;
      text-align: left;
      transform: translate(-50%, -50%);
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "cityname"
      "weathericon"
      "temp"
      "feelslike"
      "search";
}
  
.cityname { grid-area: cityname; }
  
.weathericon { grid-area: weathericon; }
  
.temp { 
      grid-area: temp;
      font-size: 100%;
 }
  
.feelslike { 
      grid-area: feelslike;
      text-transform: capitalize;
 }
  
.search { 
      grid-area: search;
           
      padding-top: 1%;
}
  